<div class="row">
  <div class="small-12 columns">

  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="/assets/swiper/swiper-bundle.min.css">

  <!-- Demo styles -->
  <style>
    .swiper-container {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      margin: 0;
      padding: 0;
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

    .swiper-slide a { margin: !important; padding:0 !important; }
    .swiper-slide a img { margin:0 !important; padding:0 !important; }
  </style>


<body>
  <!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <a href="https://www.pirati.cz/tiskove-zpravy/pirati-prosadili-jedenact-usneseni-k-reseni-koronakrize.html" class="swiper-slide"><img src="/assets/img/banners/obrazek1.jpg" width="100%" alt="4.6.2020 - Piráti spolu s opozicí prosadili jedenáct usnesení k řešení pandemické krize. O dalších návrzích se bude jednat odpoledne" /></a>
      <a href="https://www.pirati.cz/tiskove-zpravy/ani-po-urgencich-vlada-nema-plan.html" class="swiper-slide"><img src="/assets/img/banners/obrazek2.jpg" width="100%" alt="20.8.2020 - Vláda dál mlží ohledně koronaviru. Ani po urgencích Pirátů nepředstavila plán prevence ani nevysvětlila plošná opatření" /></a>
      <a href="https://www.pirati.cz/tiskove-zpravy/pirati-brifink-pred-schuzi.html" class="swiper-slide"><img src="/assets/img/banners/obrazek3.jpg" width="100%" alt="15.9.2020 - Piráti chtějí znát opatření vlády proti druhé vlně koronaviru, zrušení účelové výjimky pro svěřenské fondy a odmítají nehospodárné výdaje formou „rouškovného“" /></a>
      <a href="https://www.pirati.cz/tiskove-zpravy/ochranu-lidi-pred-koronavirem-vlada-nezvladla.html" class="swiper-slide"><img src="/assets/img/banners/obrazek4.jpg" width="100%" alt="18.9.2020 - Vláda zcela selhala v ochraně lidí i firem před koronavirem. Piráti představili nutná opatření proti přetížení zdravotnictví a zmrazení celé ekonomiky" /></a>
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>

  <!-- Swiper JS -->
  <script src="/assets/swiper/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper('.swiper-container', {
      cssMode: true,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      pagination: {
        el: '.swiper-pagination'
      },
      mousewheel: true,
      keyboard: true,
    });
  </script>

  </div>
</div>

