---
layout: default
---



<nav class="c-top-sub-nav">
  <div class="row">
    <div class="c-top-sub-nav-inner columns" >
      <div class="c-top-sub-nav__header">
        <h2 class="c-top-sub-nav__heading">Naše řešení</h2>
      </div>
      <div class="c-top-sub-nav-divider">
      </div>
      <ul class="c-top-sub-nav-items">
        <li class="c-top-sub-nav__item "><a href="zdravotnictvi.html">Zdravotnictví</a></li>
        <li class="c-top-sub-nav__item "><a href="ekonomika.html">Ekonomika a finance</a></li>
        <li class="c-top-sub-nav__item "><a href="exekuce.html">Dluhy, exekuce, insolvence</a></li>
        <li class="c-top-sub-nav__item "><a href="socialni-dopady.html">Sociální dopady</a></li>
        <li class="c-top-sub-nav__item "><a href="skolstvi.html">Školství</a></li>
      </ul>      
    </div>
  </div>
</nav>



<div class="pce-hero pce-hero--entry">
  <div class="pce-hero__content">
    <h1 class="o-section__heading l-program__heading">Naše řešení dopadů pandemie COVID-19</h1>
    <h2 class="t-h4-alt">Návrhy Pirátů v souvislosti s <strong>řešením dopadů pandemie COVID-19</strong> v <strong>5ti klíčových oblastech</strong>:</h2>
  </div>
</div>

<div class="row" style="text-align: center">
  <div class="small-12 medium-2 medium-offset-1 columns">
    <div class="l-program__priority">
      <div class="l-program__priority-donut">
        <a href="zdravotnictvi.html"><img src="/assets/img/icons/a01_ochranne_pomucky.png" style="padding: 20px" /></a>      
      </div>
      <h3><a href="zdravotnictvi.html">Zdravotnictví</a></h3>
    </div>    
  </div>
  <div class="small-12 medium-2 columns">   
    <div class="l-program__priority">
      <div class="l-program__priority-donut">
        <a href="ekonomika.html"><img src="/assets/img/icons/a02_ekonomika.png" style="padding: 20px" /></a>
      </div>
      <h3><a href="ekonomika.html">Ekonomika a&nbsp;finance</a></h3>
    </div>
  </div>
  <div class="small-12 medium-2 columns">   
    <div class="l-program__priority">
      <div class="l-program__priority-donut">
        <a href="exekuce.html"><img src="/assets/img/icons/a01_dluhy.png" style="padding: 20px" /></a>
      </div>
      <h3><a href="exekuce.html">Dluhy,&nbsp;exekuce, insolvence</a></h3>
    </div>
  </div>
  <div class="small-12 medium-2 columns">   
    <div class="l-program__priority">
      <div class="l-program__priority-donut">
        <a href="socialni-dopady.html"><img src="/assets/img/icons/a01_socialni_dopady.png" style="padding: 20px" /></a>
      </div>
      <h3><a href="socialni-dopady.html">Sociální dopady</a></h3>
    </div>
  </div>
  <div class="small-12 medium-2 columns end">   
    <div class="l-program__priority">
      <div class="l-program__priority-donut">
        <a href="skolstvi.html"><img src="/assets/img/icons/a01_skolstvi.png" style="padding: 20px" /></a>
      </div>
      <h3><a href="skolstvi.html">Školství</a></h3>
    </div>
  </div>
</div>

<hr/>

<div class="row" style="text-align: center">
  <div class="medium-12 large-12 columns">
    
    <div class="l-program__lead"><a href="https://www.pirati.cz/vysledky/#type=koronavirus&datefilter6=all" target="_blank" rel="noopener">Přehled toho nejdůležitějšího, na čem Piráti pracují nejen v Poslanecké sněmovně</a></div>
  </div>
</div>
  
<hr/>

<div class="row" style="text-align: center">
  <div class="medium-12 large-12 columns">
    <div class="row" style="text-align: center">
      <div class="medium-12 large-12 columns">
        <section class="o-section o-section--spaceBot">
          <div class="o-section-inner o-section-inner--leftBlock">
            <article class="l-prg__card">
              <div class="row">
                <div class="l-prg__content columns medium-10 text-left pull-right">
                <h2 class="l-prg__card-title">Zdravotnictví</h2>
                  </div>                  

                <div class="l-prg__stats columns medium-2">
                  <div class="l-prg__stats-done">
                    <a href="zdravotnictvi.html"><img src="/assets/img/icons/a01_ochranne_pomucky.png" style="padding: 20px" /></a>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="columns medium-6">
                  <h3>Co prosazují Piráti:</h3>

                  <table>
                    <tbody>
                      <tr><td>zajistit dostupnost zdravotnického materiálu a ochranných pomůcek</td></tr>
                      <tr><td>nastavit jasný a transparentní harmonogram distribuce</td></tr>
                      <tr><td>využít kapacity domácích výrobců</td></tr>
                      <tr><td>zajistit / ověřit dostupnost léků v lékárnách a v nemocnicích</td></tr>
                      <tr><td>realizace pandemického plánu</td></tr>
                      <tr><td>ocenit zdravotní personál (správné proplácení přesčasů, dostatečný čas na regeneraci)</td></tr>
                    </tbody>
                  </table>
                </div>

                <div class="columns medium-6">
                <h3>Články k tématu:</h3>

                  {% assign sorted-posts = site.posts | sort: 'date' | reverse | where: "tags","zdravotnictví"  %}

                  <ul>
                  {% for post in sorted-posts limit: 10 %}
                    <li>{{ post.date | date: "%d.%m.%Y" }} - <a class="c-headline-anchor" href="{{ post.url | relative_url }}" itemprop="url">{{ post.title }}</a></li>
                  {% endfor %}
                  </ul>
                </div>
              </div>

              <div class="medium-12 pce-hero__cta">
                  <a class="pce-hero__cta-item button large" href="zdravotnictvi.html">Zobrazit naše řešení pro zdravotnictví</a>
              </div>              
            </article>         
          </div>
        </section>
      </div>
  
<hr/>

<div class="row" style="text-align: center">
  <div class="medium-12 large-12 columns">
    <div class="row" style="text-align: center">
      <div class="medium-12 large-12 columns">
        <section class="o-section o-section--spaceBot">
          <div class="o-section-inner o-section-inner--leftBlock">
            <article class="l-prg__card">
              <div class="row">
                <div class="l-prg__content columns medium-10 text-left pull-right">
                <h2 class="l-prg__card-title">Ekonomika a finance</h2>
                  </div>

                <div class="l-prg__stats columns medium-2">
                  <div class="l-prg__stats-done">
                    <a href="ekonomika.html"><img src="/assets/img/icons/a02_ekonomika.png" style="padding: 20px" /></a>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="columns medium-6">
                  <h3>Co prosazují Piráti:</h3>

                  <table>
                    <tbody>
                      <tr><td>Předvídatelnost a jistota vládních kroků - milníky dalšího postupu</td></tr>
                      <tr><td>Nezapomenout na nejohroženější skupiny</td></tr>
                      <tr><td>Odpustit OSVČ bez příjmů povinné odvody</td></tr>
                      <tr><td>Prodloužit ošetřovné a rozšířit ho i na OSVČ</td></tr>
                      <tr><td>Podpořit kurzarbeit – zvýšit podíl státu na mzdových nákladech a zjednodušit byrokracii</td></tr>
                      <tr><td>Odlehčit zaměstnavatelům v zasažených odvětvích odpuštěním sociálních a daňových odvodů z práce za zaměstnance</td></tr>
                      <tr><td>Poskytovat bezúročné půjčky i v menším objemu, než 500 000 Kč</td></tr>
                      <tr><td>Nemocenskou za lidi v karanténě musí hradit stát ze 100% i nad rámec programu antivirus</td></tr>
                    </tbody>
                  </table>
                </div>

                <div class="columns medium-6">
                <h3>Články k tématu:</h3>

                  {% assign sorted-posts = site.posts | sort: 'date' | reverse | where: "tags","ekonomika"  %}

                  <ul>
                  {% for post in sorted-posts limit: 10 %}
                    <li>{{ post.date | date: "%d.%m.%Y" }} - <a class="c-headline-anchor" href="{{ post.url | relative_url }}" itemprop="url">{{ post.title }}</a></li>
                  {% endfor %}
                  </ul>
                </div>
              </div>

              <div class="medium-12 pce-hero__cta">
                  <a class="pce-hero__cta-item button large" href="ekonomika.html">Zobrazit naše řešení pro ekonomiku a finance</a>
              </div>              
            </article>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<hr/>

<div class="row" style="text-align: center">
  <div class="medium-12 large-12 columns">
    <div class="row" style="text-align: center">
      <div class="medium-12 large-12 columns">
        <section class="o-section o-section--spaceBot">
          <div class="o-section-inner o-section-inner--leftBlock">
            <article class="l-prg__card">
              <div class="row">
                <div class="l-prg__content columns medium-10 text-left pull-right">
                <h2 class="l-prg__card-title">Dluhy, exekuce, insolvence</h2>
                  </div>

                <div class="l-prg__stats columns medium-2">
                  <div class="l-prg__stats-done">
                    <a href="exekuce.html"><img src="/assets/img/icons/a01_dluhy.png" style="padding: 20px" /></a>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="columns medium-6">
                  <h3>Co prosazují Piráti:</h3>

                  <table>
                    <tbody>
                    <tr><td>Plošné zastavení nařizování exekucí, případně zastavení mobiliárních exekucí</td></tr>
                    <tr><td>Místní příslušnost exekutorů: princip 1 dlužník = 1 exekutor v místě bydliště</td></tr>
                    <tr><td>Splácet nejdřív jistinu pak úrok</td></tr>
                    <tr><td>Zvýšení minimální jistiny pro dražbu obydlí ze 30 tisíc na 100 tisíc korun</td></tr>
                    <tr><td>Snížení státem uvalené daně z přidané hodnoty na odměny exekutorů</td></tr>
                    <tr><td>Zastavování tzv. “nevymožitelných exekucí,” kde se za poslední 3 roky nepodařilo nic vymoci</td></tr>
                    <tr><td>Vznik chráněného bankovního účtu</td></tr>
                    </tbody>
                  </table>
                </div>

                <div class="columns medium-6">
                <h3>Články k tématu:</h3>

                  {% assign sorted-posts = site.posts | sort: 'date' | reverse | where: "tags","exekuce"  %}

                  <ul>
                  {% for post in sorted-posts limit: 10 %}
                    <li>{{ post.date | date: "%d.%m.%Y" }} - <a class="c-headline-anchor" href="{{ post.url | relative_url }}" itemprop="url">{{ post.title }}</a></li>
                  {% endfor %}
                  </ul>
                </div>
              </div>

              <div class="pce-hero__cta">
                  <a class="pce-hero__cta-item button large" href="exekuce.html">Zobrazit naše řešení exekucí</a>
              </div>              
            </article>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<hr/>

<div class="row" style="text-align: center">
  <div class="medium-12 large-12 columns">
    <div class="row" style="text-align: center">
      <div class="medium-12 large-12 columns">
        <section class="o-section o-section--spaceBot">
          <div class="o-section-inner o-section-inner--leftBlock">       
            <article class="l-prg__card">
              <div class="row">
                <div class="l-prg__content columns medium-10 text-left pull-right">
                <h2 class="l-prg__card-title">Sociální dopady</h2>
                  </div>

                <div class="l-prg__stats columns medium-2">
                  <div class="l-prg__stats-done">
                    <a href="socialni-dopady.html"><img src="/assets/img/icons/a01_socialni_dopady.png" style="padding: 20px" /></a>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="columns medium-6">
                  <h3>Co prosazují Piráti:</h3>

                  <table>
                    <tbody>
                    <tr><td>Žádosti o podporu a dávky elektronicky, bez elektronického podpisu</td></tr>
                    <tr><td>Změnit možnosti využití dávky mimořádné okamžité pomoci i pro fyzické osoby s náhlým propadem příjmů (s dokládáním za aktuální měsíc)</td></tr>
                    <tr><td>Definovat postup pro lidi bez domova v karanténě</td></tr>
                    <tr><td>Umožnit krátkodobé převedení zaměstnanců sociálních služeb dle aktuálních potřeb</td></tr>
                    <tr><td>Podpora pro lidi pracující na DPČ a DPP</td></tr>
                    <tr><td>Podpora pro lidi s hendikepem, kterým se zhoršila dostupnost asistenčních a dalších služeb</td></tr>
                    <tr><td>Podpora pro lidi s nízkými invalidními důchody</td></tr>
                    <tr><td>Podpora pro OBZP</td></tr>
                    <tr><td>Nastavit pravidla pro fungování nocleháren, azylových domů apod.</td></tr>
                    <tr><td>Opatření na podporu dětí, jejichž rodiče byli hospitalizováni</td></tr>
                    <tr><td>Podpora pro lidi s PAS, duševním onemocněním, závislostmi</td></tr>
                    </tbody>
                  </table>
                </div>

                <div class="columns medium-6">
                <h3>Články k tématu:</h3>

                  {% assign sorted-posts = site.posts | sort: 'date' | reverse | where: "tags","sociální dopady"  %}

                  <ul>
                  {% for post in sorted-posts limit: 10 %}
                    <li>{{ post.date | date: "%d.%m.%Y" }} - <a class="c-headline-anchor" href="{{ post.url | relative_url }}" itemprop="url">{{ post.title }}</a></li>
                  {% endfor %}
                  </ul>
                </div>
              </div>

              <div class="pce-hero__cta">
                  <a class="pce-hero__cta-item button large" href="socialni-dopady.html">Zobrazit naše řešení sociálních dopadů</a>
              </div>              
            </article>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<hr/>

<div class="row" style="text-align: center">
  <div class="medium-12 large-12 columns">
    <div class="row" style="text-align: center">
      <div class="medium-12 large-12 columns">
        <section class="o-section o-section--spaceBot">
          <div class="o-section-inner o-section-inner--leftBlock">
            <article class="l-prg__card">
              <div class="row">
                <div class="l-prg__content columns medium-10 text-left pull-right">
                <h2 class="l-prg__card-title">Školství</h2>
                                  </div>

                <div class="l-prg__stats columns medium-2">
                  <div class="l-prg__stats-done">
                    <a href="skolstvi.html"><img src="/assets/img/icons/a01_skolstvi.png" style="padding: 20px" /></a>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="columns medium-6">
                  <h3>Co prosazují Piráti:</h3>

                  <table>
                    <tbody>
                    <tr><td>Zachování dvou termínů u přijímacích zkoušek na SŠ</td></tr>
                    <tr><td>Zachování možnosti odvolání žáka proti rozhodnutí ředitele o žádosti o přijetí na SŠ</td></tr>
                    <tr><td>Možnost delšího odkladu maturity a závěrečných zkoušek v učebních oborech, nikoliv jejich rychlé rušení</td></tr>
                    <tr><td>Výukové skupiny pro znevýhodněné žáky</td></tr>
                    <tr><td>Výpůjčka ICT do sociálně a ekonomicky znevýhodněných rodin</td></tr>
                    <tr><td>Úprava podmínek a průběhu přijímacích zkoušek na VŠ v době krize</td></tr>
                    <tr><td>Revize a úprava rozpočtu v oblasti školství</td></tr>
                    <tr><td>Kontrola smysluplnosti škrtů ve financích na vědu a výzkum</td></tr>
                    <tr><td>Elektronické zápisy do škol</td></tr>
                    </tbody>
                  </table>
                </div>

                <div class="columns medium-6">
                <h3>Články k tématu:</h3>

                  {% assign sorted-posts = site.posts | sort: 'date' | reverse | where: "tags","školství"  %}

                  <ul>
                  {% for post in sorted-posts limit: 10 %}
                    <li>{{ post.date | date: "%d.%m.%Y" }} - <a class="c-headline-anchor" href="{{ post.url | relative_url }}" itemprop="url">{{ post.title }}</a></li>
                  {% endfor %}
                  </ul>
                </div>
              </div>              

              <div class="pce-hero__cta">
                  <a class="pce-hero__cta-item button large" href="skolstvi.html">Zobrazit naše řešení školství</a>
              </div>              
            </article>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
