---
layout: default
title: Praha
description: Praha
keywords: články, aktuality, příspěvky, novinky
pagination: 
  enabled: true
  permalink: /:num/
  enabled: true
  tag: Praha
  per_page: 12
  permalink: /:num/
  sort_field: 'date'
  sort_reverse: true
  trail: 
    before: 2
    after: 2
---
<div class="row">
  <div class="columns">
    <div class="o-section">
      <div class="o-section-inner">
          <header class="c-page-header">
            <h1 itemprop="headline" class="c-page-title">{{ page.title }}</h1>
          </header>
          {% assign posts = paginator.posts %}
          {% for article in posts %}
            {% include articles/horizontal-article.html article=article %}
          {% endfor %}          
          {% include articles/pagination.html paginator=paginator %}
      </div>
    </div>
  </div>
</div>
